<h1 class="text-center">Lista de Restaurantes</h1>
<div class="row">
  <!-- Iterar sobre los restaurantes y mostrar cada uno en una card -->
  <% restaurants.forEach(restaurant => { %>
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="<%= restaurant.logoUrl %>" class="card-img-top" alt="<%= restaurant.name %>">
        <div class="card-body">
          <h5 class="card-title"><%= restaurant.name %></h5>
          <a href="/restaurants/<%=restaurant.id%>" class="btn btn-primary">Ver menú</a>
        </div>
      </div>
    </div>
  <% }); %>
</div>